#nfteam-select-nf-type {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
    gap: 1rem;
}

#nfteam-select-nf-type>p {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}



#nfteam-select-user-select-group {
    display: flex;
    flex-direction: row;
    place-content: center;
}




.nfteam-select-user-select-group-BUTTON {
    width: 353px;
    height: 125px;
    background: #FFFFFF;
    border: 3px solid rgba(7, 35, 91, 0.05);
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}


.nfteam-select-user-select-group-BUTTON:hover {
    background: #efefef;
}






.nfteam-select-user-select-group-BUTTON-active {
    background: #07235B;
    color: #FFFFFF;

    width: 353px;
    height: 125px;
    border: 3px solid rgba(7, 35, 91, 0.05);
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    position: relative;
    cursor: pointer;
}


.right-arrow::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 29px;
    border-color: transparent transparent transparent #07235B;
    right: -30px;
    z-index: 1;
}











/* -------------------- Responsive Css Rules -------------------- */

@media only screen and (max-width: 435px) {
    #nfteam-select-user-select-group {
        flex-wrap: wrap;
    }


}