.frame-container {
  position: absolute;
  width: 88%;
  border-radius: 10px;
  box-sizing: border-box;
  height: 150px;
  top: 55rem;
  left: 6%;
  background-color: rgba(255, 255, 255, 0.7);
}
.input-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
}
.horizontal {
  display: block;
  justify-content: space-between;
  transform: rotate(90deg);
  border: 1px solid rgba(0, 0, 0, 0.25);
  max-width: 100px;
  width: 2rem;
}
/* .frame-container .input-wrapper h6 {
  font-size: 20px;
  position: relative;
} */
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  background: #07235b;
  color: white;
  border: none;
  border-radius: 5px;
}
.search-btn:hover{
  cursor: pointer;
}

.frame-donate {
  width: 7rem;
  height: 40px;
  background: #60B6F1;;
  text-align: center;
  border-radius: 5px;
}
.donate-now {
  text-decoration: none;
  color: white;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
}
.data-text {
  top:20%;
  margin-left:-5px;
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
}
.data-title{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  color: #B3B3B3;
  
}
.search-donate {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.dropdown-content{
  position: absolute;
  display: grid;
  background-color: #60B6F1;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 400;
  color: white;
  width: fit-content;
  border-radius: 5px;
  left: 40px;
  top: 60%;
}
.dropdown-item{
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown-item:hover{
  background: 
  #32508C;
  border-radius: 3px;
}

.dropdown-text{
  cursor: pointer;
  color: #B3B3B3;

}
.dropdown{
  padding: 10px 14px;
  user-select: none;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px; 

  
}
.disease{
  padding: 10px 14px;
  user-select: none;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px; 

}

.zip-code input{
  padding: 10px 14px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px; 
}