.provider-container {
  background: #f0f7fd;
  display: flex;
  justify-content: center;
}

.provider-inner-container {
  width: 95%;
  background: #ffffff;
  border-radius: 1.5rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.provider-heading {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #07235b;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

.provider-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.provider-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.provider-location-btn {
  display: none;
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .provider-heading {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 110%;
    min-width: 375px;
    width: 75%;
  }

  .provider-form {
    align-items: center;
  }

  .provider-form-inputs {
    min-width: 375px;
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .provider-container {
    padding-bottom: 3rem;
  }

  .provider-inner-container {
    width: 90%;
    max-width: 1216px;
  }

  /* update font-size to 25px */
  .provider-heading {
    width: 90%;
    flex-direction: row;
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
  }

  .provider-form {
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
  }

  .provider-form-inputs {
    flex-direction: row;
    justify-content: space-between;
  }

  .provider-form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
