.how-it-works-card {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: start;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.8s;
  transition-delay: 0s;
  transition-delay: 0.2s;
}
.how-it-works-nested-block{
 position: relative;
 left: 8rem;
 top:1.5rem;
}
.how-it-works-button.even{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height:8rem;
  background: #07235B;
  border-radius: 3px;
  border: 1px solid #E3E6EE;
  color: #FFFFFF;
}
.how-it-works-button.odd{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 8rem;
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #E3E6EE;
  color: #2947A9;
}
.how-it-works-card.visible {
  opacity: 1;
  transform: translateX(0);
}

.how-it-works-block {
  width: 70%;
  display: flex;
  align-items: top;
  /* gap: 3rem; */
}

.how-it-works-icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  margin: auto;
}

.how-it-works-number {
  font-weight: 800;
  font-size: 15rem;
  line-height: 0.5;
  color: rgba(14, 35, 91, 0.06);
  margin: 0;
  position: absolute;
     
}

/* .how-it-works-text-block {
  width: 70%;
  display: flex;
  justify-content: flex-end;
} */

.how-it-works-button-label {
  
  width: 70%;
  font-weight: 600;
  font-size: 17px;
  line-height: 120%;
  text-align: center;
  /* color: #062758; */
  
}

.how-it-works-content {
  
  width: 80%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #062758;
}
  /* opacity: 0;
  transition: opacity 1s ease-in-out; */
}

/* .how-it-works-content.visible {
  opacity: 1;
} */
