* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  background: #07235b;
  color: white;
  width: 100%;
}
.logo img {
  height: 8rem;
  display: flex;
  align-items: center;
  border-radius: 8rem;
  width: 100%;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
  height: 46px;
}
.nav-links a:hover,
.nav-link a.active {
  color: #60b6f1;
}

.home,
.services,
.about-us,
.research,
.signin,
.donate {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px 26px;
  cursor: pointer;
  max-width: fit-content;
}

.donate {
  color: #07235b;
  background: #dde8f0;
  border: 2px solid white;
  border-radius: 8px;
  font-size: normal;
  align-self: center;
}
.signin {
  display: flex;
  color: white;
  font-size: 20px;
  padding: 15px 26px;
  cursor: pointer;
}
.signin:hover,
.signin a.active {
  text-decoration: underline;
  color: white !important ;
  font-weight: 300;
}
