#nfteam-info {
  display: flex;
  place-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 4rem;
}

/* Set Css rules for box containers */
.nfteam-info-card-wrapper {
  width: 31%;
  height: 22vw;
  border: 3px solid rgba(7, 35, 91, 0.24);
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
}

.nfteam-info-card-wrapper:hover {
  background: #062758;
  color: #ffffff;
}

.nfteam-info-card-wrapper:hover a,
.nfteam-info-card-wrapper:hover .nfteam-info-list-wrapper > li {
  color: #ffffff;
}

.nfteam-info-card-wrapper:hover .nfteam-info-card-TOP {
  border: 2.825px solid rgb(255, 255, 255);
  transform: scale3d(1.015, 1.05, 1);
}

/* Set Css rules for top part of the box containers  */
.nfteam-info-card-TOP {
  height: 33%;
  background: #062758;
  border: 0.825px solid rgba(0, 0, 0, 0.25);
  border-radius: 8.25px;
  color: white;
  display: flex;
  flex-direction: row;
  place-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0px 32px;
  transform: scale3d(1.01, 1.03, 1);
}

/* Set Css rules for icon/image container at top part  */
.nfteam-info-card-TOP > div {
  min-width: 3.4vw;
  height: 3.4vw;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  place-content: center;
  align-items: center;
}

/* Set Css rules for icon/image at top part  */
.nfteam-info-card-TOP > div > img {
  min-width: 1.4vw;
  max-width: 3.4vw;
  width: 100%;
  aspect-ratio: 16 / 8;
  object-fit: contain;
}

/* Set Css rules for Text at top part  */
.nfteam-info-card-TOP > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.1dvw;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

/* Set Css rules for bottom part of box containers   */
.nfteam-info-card-BOTTOM {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

/* Set Css rules for listed text items ol element  */
.nfteam-info-list-wrapper {
  list-style-type: "\2713";
  flex-direction: column;
  display: flex;
  gap: 1.5vw;
  margin-top: 2vw;
}

/* Set Css rules for l elements text items of ol element  */
.nfteam-info-list-wrapper > li {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1dvw;
  line-height: 150%;
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  padding-left: 1rem;
}

/* Set Css rules for Learn More link  */
.nfteam-info-card-wrapper > a {
  position: absolute;
  left: 19%;
  bottom: 1.4vw;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3dvw;
  line-height: 30px;
  text-decoration-line: none;
  color: #07235b;
  cursor: pointer;
  transition: 0.5s;
}

/* -------------------- Responsive Css Rules -------------------- */

@media only screen and (max-width: 750px) {
  #nfteam-info {
    flex-direction: column;
  }

  .nfteam-info-card-wrapper {
    width: 60%;
    height: 42vw;
  }

  /* Set Css rules for icon/image container at top part  */
  .nfteam-info-card-TOP > div {
    min-width: 6.4vw;
    height: 6.4vw;
  }
  .nfteam-info-card-TOP > div > img {
    max-width: 4.4vw;
  }

  .nfteam-info-card-TOP > p {
    font-size: 2.1dvw;
    user-select: none;
  }

  .nfteam-info-list-wrapper > li {
    font-size: 2.1dvw;
    user-select: none;
  }

  .nfteam-info-list-wrapper {
    margin-top: 5vw;
  }

  .nfteam-info-card-wrapper > a {
    font-size: 2.3dvw;
    user-select: none;
  }
}
