.footer-links-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: #07235b;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links-category {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}

.footer-link {
  text-decoration: none;
  color: #07235b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  cursor: pointer;
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .footer-link {
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-links-card {
    align-items: flex-start;
  }

  .footer-links-card:last-child {
    padding-right: 0;
  }

  .footer-links {
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 110%;
  }
}

/* .footer-link-card,
.footer-link-links-block {
  display: flex;
  flex-direction: column;
}

.footer-link-card {
  gap: 1rem;
}

.footer-link-links-block {
  gap: 0.8rem;
}

.footer-link-title {
  font-size: 1rem;
  font-weight: 600;
}

.footer-links {
  text-decoration: none;
  color: #07235b;
  font-weight: 400;
} */

/* @media only screen and (max-width: 768px) {
  .footer-link-card {
    gap: 0.2rem;
  }

  .footer-links {
    font-size: 0.8rem;
  }
} */
