.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.information-divider {
  width: 100%;
  height: 10rem;
  background-color: #f6f8f7;
}

@media only screen and (min-width: 1024px) {
  .information-divider {
    height: 20vh;
    background-color: #fff;
  }
}
