.how-it-works-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works-number {
  color: #e3e6ee;
  font-size: 9rem;
  font-weight: 800;
  line-height: 120%;
}

.how-it-works-content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works-button {
  width: 14rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  outline: 1px solid #e3e6ee;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 27.75px -1.5px rgba(17, 24, 39, 0.05);
  cursor: pointer;
  color: #2947a9;
  text-align: center;
}

.how-it-works-button-label {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

.how-it-works-button.even {
  background: #07235b;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.how-it-works-content {
  width: 14rem;
  color: #858ead;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
}

.how-it-works-learn-more-box {
  display: none;
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .how-it-works-card.even {
    padding-top: 20rem;
  }

  .how-it-works-content-block {
    position: relative;
  }

  .how-it-works-number {
    margin: 0;
    position: absolute;
    right: 75%;
    top: -6rem;
    z-index: -1;
  }
}

@media only screen and (min-width: 1024px) {
  .how-it-works-card {
    width: 80%;
    align-items: end;
  }

  .how-it-works-content-block {
    width: 80%;
    gap: 1rem;
    position: relative;
  }

  .how-it-works-number {
    margin: 0;
    position: absolute;
    right: 90%;
    top: -4rem;
    z-index: -1;
  }

  .how-it-works-button-label {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 100%;
  }

  .how-it-works-content {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 120%;
  }

  .how-it-works-learn-more-box {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .how-it-works-learn-more {
    text-decoration: none;
    color: #ffffff;
  }
}

/* .how-it-works-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.8s;
  transition-delay: 0s;
  transition-delay: 0.2s;
}

.how-it-works-card.visible {
  opacity: 1;
  transform: translateX(0);
}

.how-it-works-content-block {
  width: 70%;
  display: grid;
  grid-template-rows: auto 6rem auto;
  row-gap: 1rem;
  position: relative;
}

/* .how-it-works-nested-block {
  border: 1px solid blue;
} */

/* .how-it-works-number {
  font-weight: 800;
  font-size: 10rem;
  color: #e3e6ee;
  margin: 0;
  position: absolute;
  left: 0;
  top: -4rem;
} */

/* .how-it-works-text-block {
  width: 70%;
  display: flex;
  justify-content: flex-end;
} */

/* .how-it-works-icon {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .how-it-works-icon img {
  width: 40px;
  height: 40px;
} */

/* .how-it-works-button {
  border: 1px solid #e3e6ee;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  position: relative;
} */

/* .how-it-works-button-label {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;


} */

/* .how-it-works-button.even {
  background: #07235b;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.how-it-works-button.odd {
  background: #ffffff;
  color: #2947a9;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.how-it-works-button.even:hover {
  background: #ffffff;
  color: #2947a9;
}

.how-it-works-button.odd:hover {
  background: #07235b;
  color: #ffffff;
}

.how-it-works-learn-more-container {
  width: 80%;

  display: flex;
  justify-content: end;
  align-items: center;
}

.how-it-works-learn-more-box {
  width: 70%;
  height: 6rem;
}

.how-it-works-learn-more-box a {
  color: white;
  text-decoration: none;
}

.how-it-works-learn-more-box:hover a {
  color: #2947a9;
} */

/* .how-it-works-content {
  width: 85%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #858ead;

  opacity: 0;
  transition: opacity 1s ease-in-out;

} */

/* .how-it-works-content.visible {
  opacity: 1;
} */

/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
  .how-it-works-card {
    width: 70%;
  }

  .how-it-works-card.even {
    margin-top: 10rem;
  }
}  */
