.partner-with-us-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 8rem 0;
}

.partner-with-us-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 150%;
  /* or 82px */
  text-align: center;
}

.partner-with-us-inner {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  height: 0.5%;
}

.partner-with-us-inner-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.partner-with-us-inner-img-solo {
  width: 45%;
}

.partner-with-us-img-stack {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.partner-with-us-img-stack img {
  width: 100%;
  height: auto;
}

.partner-with-us-inner-text-left,
.partner-with-us-inner-text-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.partner-with-us-inner-text-left {
  transform: translateX(-100px);
}

.partner-with-us-inner-text-right {
  transform: translateX(100px);
}

.partner-with-us-inner-text-left.slide-in,
.partner-with-us-inner-text-right.slide-in {
  opacity: 1;
  transform: translateX(0);
  color: #fff;
  background-color: #07235B;
  padding: 60px 40px;
  width: 60%;
  height: 20%;
}

.partner-with-us-text-darkblue {
  /* font-family: "Inter"; */
  font-style: normal;
  /* font-weight: 600; */
  font-size: 16px;
  line-height: 30px;
  color: #fff;

}

.partner-with-us-text-blue {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px
}

.span-blue {
  color: #0D99FF;
  font-weight: bold;
  font-size: 20px;
}

.partner-with-us-text-with-checkmark-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.partner-with-us-text-with-checkmark {
  /* font-family: "Inter"; */
  font-style: normal;
  /* font-weight: 600; */
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #fff;
  font-size: 16px;
}

.header-partner {
  text-align: center;
  padding: 0 100px;
  font-size: 2.25em;
  font-weight: 600;
  color: #07235B;
}

.electronic {
  object-fit: cover;
  width: 100%;
}

/* mobile */
@media(max-width: 1200px) {
  /* body {
    padding: 0 100px;
  }

  .header-partner {
    padding: 0;
    margin: auto;
  }

  .partner-with-us-inner {
    flex-direction: column;
  }


  .partner-with-us-inner-text-left.slide-in {} */
}