.partner-with-us-bttn {
  background-color: #fff;
  border: 1px solid #07235b;
  outline: none;
  border-radius: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 34px;
  color: #07235b;
  width: 200px;
  height: 55px;
}

.partner-with-us-bttn:hover {
  background-color: #07235b;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
}
