#nfteam-select-nf-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#nfteam-select-nf-type > p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.9vw;
  line-height: 42px;
}

#nfteam-select-user-select-group {
  display: flex;
  flex-direction: row;
}

.nfteam-select-user-select-group-BUTTON {
  width: 100%;
  height: calc(5.4vw + 18px);
  padding: 0px 23px;
  background: #ffffff;
  border: 2.475px solid rgba(7, 35, 91, 0.05);
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.045em;
  font-size: 1.4vw;
  color: #000000;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  white-space: nowrap;
}

.nfteam-select-user-select-group-BUTTON:hover {
  background: #efefef;
}

.nfteam-select-user-select-group-BUTTON-active {
  background: #07235b;
  color: #ffffff;
  padding: 0px 23px;
  width: 100%;
  height: calc(5.4vw + 18px);
  border: 2.475px solid rgba(7, 35, 91, 0.05);

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.045em;
  font-size: 1.4vw;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.right-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 20px 0 20px 25px;
  border-color: transparent transparent transparent #07235b;
  right: -26px;
  z-index: 1;
}

/* -------------------- Responsive Css Rules -------------------- */

@media only screen and (max-width: 750px) {
  #nfteam-select-nf-type > p {
    font-size: 2vh;
  }

  #nfteam-select-user-select-group {
    max-width: 56vw;
  }

  .nfteam-select-user-select-group-BUTTON {
    font-size: 3vw;
    padding: 0px 21px;
  }

  .nfteam-select-user-select-group-BUTTON-active {
    font-size: 3vw;
    padding: 0px 17px;
  }

  .right-arrow::after {
    border-width: 18px 0 18px 24px;
    right: -23px;
  }
}

@media only screen and (max-width: 450px) {
  #nfteam-select-user-select-group {
    max-width: 80vw;
  }

  .nfteam-select-user-select-group-BUTTON {
    font-size: 2.6vw;
    padding: 0px 10px;
    width: fit-content;
  }

  .right-arrow::after {
    border-width: 15px 0 15px 15px;
    right: -12px;
  }
}
