.home-page-our-services-container {
  width: 100%;
  padding-top: 5rem;
}

.home-page-our-services-title-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  color: #062758;
}

.home-page-our-services-title-block h2 {
  font-weight: 600;
  font-size: 2rem;
}

.home-page-our-services-inner {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1rem;
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
}

.home-page-our-services-inner.slide-in {
  opacity: 1;
  transform: translateX(0);
}

@media only screen and (max-width: 1023px) {
  .home-page-our-services-title-block h2 {
    font-size: 1.5rem;
  }
  .home-page-our-services-inner {
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
}
