.partner-with-us-text-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 40px;
  /* or 133% */

  color: #0d99ff;
}

.partner-with-us-text-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 40px;
  /* or 73% */
  color: #07235b;
}
