.benefit-title-box {
  cursor: pointer;
  color: #07235b;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
}

.benefit-text {
  opacity: 0.1;
  height: 0px;
  overflow: hidden;
  transition: opacity 1s ease-in-out;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  color: #07235b;
}

.benefit-text.show {
  opacity: 1;
  height: auto;
  /* transition: opacity 1s ease-in-out; */
}
