
/* Set Css rules for Search & Find a Medical or Wellness Provider section select inputs` section wrapper  */
.Select-SFProvider-wrapper
{
    display: flex;
    flex-direction: column;
    gap: 9px;
}


/* Set Css rules for Search & Find a Medical or Wellness Provider section select inputs` topic/subject */
.Select-Select-topic
{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    line-height: 10px;
    margin: 0px 10px;
    color: #07235B;
    font-weight: bold;
}


/* Set Css rules for Search & Find a Medical or Wellness Provider section select inputs` main div for selectOptions  */
.Select-Select-inputselect
{
    width: 200px;
}

/* Set Css rules for Search & Find a Medical or Wellness Provider section select inputs` html select element  */
.Select-selectOptions
{
    padding: 12.25px 12px 12.25px 11.55px;
    user-select: none;
    border: 1px solid #f5fafe;;
    border-radius: 11px;
    color: #b3b3b3;
    background-color: #F3F3F3;
    

    display: block;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('../../../../../../../../Assets/Icons/SelectDiseaseArrow.png'),
	linear-gradient(to bottom, #F3F3F3 0%,#F3F3F3 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: 16.77px auto, 100%;
}

.Select-selectOptions::-ms-expand 
{
	display: none;
}
.Select-selectOptions:hover 
{
	border-color: #888;
}
.Select-selectOptions:focus 
{
	border-color: #aaa;
	box-shadow: 0 0 1px 3px #07235b;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

/* Disabled styles */
.Select-selectOptions:disabled, .Select-selectOptions[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
.Select-selectOptions:disabled:hover, .Select-selectOptions[aria-disabled=true] {
	border-color: #aaa;
}


/* Set Css rules for Search & Find a Medical or Wellness Provider section select inputs` additional-info div  */
.Select-Select-additional-info
{
    padding-left: 16px;
}

/* Set Css rules for Search & Find a Medical or Wellness Provider section select inputs` additional-info text  */
.Select-additional-info-text
{
    color: #B3B3B3;
    font-size: 14px;
    margin-left: 3px;
}
