.benefit-container-inner {
  width: 100%;
}

.benefit-heading {
  width: 95%;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .benefit-container-inner {
    width: 80%;
    max-width: 590px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .benefit-heading {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .benefit-container-inner {
    width: 90%;
    max-width: 1216px;
    margin: auto;
    display: flex;
    gap: 2rem;
  }

  .benefit-heading {
    display: none;
  }
}
