.provider-btn-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.provider-btn {
  width: 100%;
  height: 3.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.provider-btn.search {
  background: #07235b;
}

.provider-btn.donate {
  background: #0d99ff;
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .provider-btn-block {
    width: 100%;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .provider-btn-block {
    flex-direction: row;
  }
  .provider-btn {
    width: auto;
  }
}
