.teams-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  gap: 3rem;
  margin-top: 2rem;
  background: #dce8f2;
  border-radius: 29px;
  padding: 80px;
}
.teams-outline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #07235b;
  height: 400px;
}
.teams-group {
  background: none;
  cursor: pointer;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  width: 28.375rem;
  height: 7rem;
  border-radius: 5px;
  border: 1px solid #07235b;
  background: #ffffff;
  color: #07235b;
}
.teams-group:hover {
  background: #f9f9f9;
}
.teams-group-active {
  background: #07235b;
  color: #ffffff;
  width: 28.375rem;
  border-radius: 5px;
  border: 2px solid rgba(181, 181, 181, 0.284);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  height: 7rem;
}

.teams-group-active p {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
.teams-group p {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
@media (width <= 650px) {
  .teams-outline {
    height: 250px;
  }
  .teams-container {
    gap: 0.5rem;
    padding: 40px;
  }
  .teams-group {
    height: 4.7rem;
    font-size: 12px;
  }
  .teams-group-active {
    height: 4.7rem;
    font-size: 12px;
  }
  .teams-group p {
    font-size: 12px;
  }
  .teams-group-active p {
    font-size: 12px;
  }
}

@media (width <= 1270px) and (width>650px) {
  .teams-container {
    gap: 1.5rem;
  }
  .teams-group {
    font-size: 18px;
  }
  .teams-group-active {
    font-size: 18px;
  }
  .teams-group p {
    font-size: 15px;
  }
  .teams-group-active p {
    font-size: 15px;
  }
  .teams-container {
    padding: 60px;
  }
  .teams-group {
    width: 28.375rem;
    height: 6.3rem;
  }
  .teams-group-active {
    width: 28.375rem;
    height: 6.3rem;
  }
}
