/* !!!! important Notice : This subcomponent is duplicate of SelectDisease subcomponent All generic design css rules is in the SelectDisease css file.
    In the future After final design and functionanlity decided wheather only 1 component example will be used instead of repetative 3 !!
    There will be some custom Css rules in this file needs to be applied in the future changes
*/



.SelectCity-Select-select
{
    width: 135px !important;
}


.SelectCity-Location-container
{
    transform: translateY(-5px) !important;
    padding-left: 30px;
}

.Select-additional-Use-location
{
    all: unset;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.7rem;
    color: #07235B;
    cursor: pointer;
    position: relative;
}

.Select-additional-Use-location:before
{
    content: url('../../../../../../../../Assets/Icons/location-icon.svg');
    display: flex;
    width: 5px;
    position: absolute;
    top: -5px;
    left: -20px;
}



/* -------------------- Responsive Css Rules -------------------- */

@media only screen and (max-width: 1300px) 
{
    .SelectCity-Select-select
    {
        max-width: 7rem;
    }
}

@media only screen and (max-width: 710px) 
{
    /* Set Css rules for Search & Find a Medical or Wellness Provider section select inputs` section wrapper  */
    .SelectCity-wrapper
    {
        scale: 0.8;
        max-width: 7rem;
    }
}




