
/* Set rules for NF Community section main contanier  */
#nfcommunity-container
{
    display: grid;
    grid-template-rows: repeat(4,auto);
    margin: 6rem 10%;
}



/* Set rules for NF Community Header section  */
#nfcommunity-header
{
    /* This Value is missing in the design Prototype Height value will be changed */
    /* height: 229px; */
    /* This Value is missing in the design Prototype Height value will be changed */
    
    display: flex;
    place-content: center;
    align-items: flex-start;
    flex-direction: column;
}

/* Set rules for Both Paragraphs */
#nfcommunity-header > p
{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #07235B;
}

/* Set rules for Neurofibromatosis (NF) Team Paragraph */
#nfcommunity-header > p:nth-child(1)
{
    font-size: 60px;
}

/* Set rules for Stronger Together Paragraph */
#nfcommunity-header > p:nth-child(2)
{
    font-size: 32px;
    letter-spacing: -0.01em;
}



/* -------------------- Responsive Css Rules -------------------- */

@media only screen and (max-width: 1100px) 
{
    /* Set rules for Neurofibromatosis (NF) Team Paragraph */
    #nfcommunity-header > p:nth-child(1)
    {
        font-size: 4vw;
    }

    
}


@media only screen and (max-width: 750px) 
{
    /* Set rules for Neurofibromatosis (NF) Team Paragraph */
    #nfcommunity-header
    {
        align-items: center;
    }

    /* Set rules for NF Community section main contanier  */
    #nfcommunity-container
    {
        
        margin: 3rem 10%;
    }

    
}