.footer-link-card,
.footer-link-links-block {
  display: flex;
  flex-direction: column;
}

.footer-link-card {
  gap: 1rem;
}

.footer-link-links-block {
  gap: 0.8rem;
}

.footer-link-title {
  font-size: 1rem;
  font-weight: 600;
}

.footer-links {
  text-decoration: none;
  color: #07235b;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .footer-link-card {
    gap: 0.2rem;
  }

  .footer-links {
    font-size: 0.8rem;
  }
}
