.footer-link-card,
.footer-link-links-block {
  display: flex;
  flex-direction: column;
}

.footer-link-card {
  gap: 1rem;
}

.footer-link-title {
  font-size: 1rem;
  font-weight: 600;
}

.footer-links {
  text-decoration: none;
  line-height: 1.5;
  color: #07235b;
  font-weight: 400;
}
