.partner-with-us-bttn {
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.partner-with-us-bttn:hover {
  background-color: #fff;
  color: #07235b;
  transition: background-color 0.5s ease-in-out;
}
