#nfteam-join-container {
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    gap: 9em;
    margin: 10rem 0;
}


/* -------------------- Left / Top side -------------------- */



/* Set rules for Video part */
#nfteam-join-video {
    filter: drop-shadow(2px 4px 6px black);
}


#nfteam-join-video>*>video {
    object-fit: cover;
}




/* -------------------- Right / Bottom side -------------------- */

/* Set rules for Join Button part */
#nfteam-join-button-join {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
    gap: 2rem;
}


/* Set rules for all paragraph elements Join Button section */
#nfteam-join-button-join>* {
    /* font-family: 'Inter'; */
    text-align: center;
    color: #000000;
    font-style: normal;
}

/* Set rules for first paragraph Neurofibromatosis (NF) Community*/
#nfteam-join-button-join>*:nth-child(1) {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
}

/* Set rules for second paragraph Join NF Community*/
#nfteam-join-button-join>*:nth-child(2) {
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
}

/* Set rules for Join Button */
#nfteam-join-button-join>*:nth-child(3) {
    width: 244px;
    height: 80.43px;
    background: #07235B;
    border-radius: 40px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

#nfteam-join-button-join>*:nth-child(3):hover {
    background: #ffffff;
    color: #07235B;
    border-color: #07235B;
}


/* Set rules for third paragraph Connect with other people, Share your story Join the discussion today*/
#nfteam-join-button-join>*:nth-child(4) {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: rgba(0, 0, 0, 0.494118);
}





/* -------------------- Responsive Css Rules -------------------- */

@media only screen and (max-width: 435px) {
    #nfteam-join-container {
        flex-wrap: wrap;
    }


}