#nfteam-info
{
    display: flex;
    place-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 4rem;
}



.nfteam-info-card-wrapper
{
    width: 537px;
    height: 498.06px;
    border: 3px solid rgba(7, 35, 91, 0.24);
    border-radius: 10px;
    position: relative;
}

.nfteam-info-card-TOP
{
    
    height: 164px;
    background: #062758;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    gap: 2rem;
}

.nfteam-info-card-TOP > div
{
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    place-content: center;
    align-items: center;
}

.nfteam-info-card-TOP > div > img
{
    max-width: 40px;
}
.nfteam-info-card-TOP > p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}




.nfteam-info-card-BOTTOM
{
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    height: 100%;
    max-height: 300px;
}


.nfteam-info-list-wrapper
{
    list-style-type: '\2713';
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
}


.nfteam-info-list-wrapper > li
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.nfteam-info-card-wrapper > a
{
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #07235B;
}




/* -------------------- Responsive Css Rules -------------------- */

@media only screen and (max-width: 435px) 
{
    #nfteam-info
    {
        flex-wrap: wrap;
    }

    
}