.information-card-container {
  padding: 1rem 2rem;
  background-color: #f6f8f7;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (min-width: 1024px) {
  .information-card-container {
    width: 90%;
    max-width: 1216px;
    flex-direction: row;
    padding: 3rem 0;
    background-color: transparent;
  }
}
