.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #07235b;
  position: relative;
}

.nav-inner-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links-container {
  flex-grow: 1;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-block {
  width: 32px;
  height: 32px;
}

.nav-logo-img {
  width: 100%;
  height: 100%;
}

.nav-links-list.desktop {
  display: none;
}

.nav-links-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-signin {
  display: flex;
  align-items: center;
}

.nav-signin-span {
  display: none;
}

.nav-links {
  text-decoration: none;
  color: white;
}

.nav-donate {
  padding: 0.5rem 1rem;
  background-color: #0d99ff;
  border: none;
  border-radius: 0.5rem;
}

.nav-donate:hover {
  outline: 1px solid #07235b;
  background-color: #fff;
  color: #07235b;
}
/*
@media only screen and (min-width: 480px) and (max-width: 1023px) {

} */

@media only screen and (min-width: 1024px) {
  .nav-inner-container {
    width: 90%;
    max-width: 1216px;
    padding: 1rem 0;
  }

  .nav-logo-block {
    width: fit-content;
    height: fit-content;
  }

  .nav-logo-img {
    width: 290px;
    height: auto;
  }

  .nav-links-block {
    display: flex;
    gap: 1rem;
  }

  .nav-links-list.desktop {
    display: flex;
  }

  .nav-links {
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
  }

  .nav-signin-span {
    display: inline-block;
  }
}
