.nav-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07235b;
  padding: 1rem 8rem;
  position: relative;
}

.nav-inner-container {
  flex-grow: 1;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-img {
  width: 200px;
}

.nav-links-block {
  display: flex;
  gap: 1rem;
}

.nav-links-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-links {
  text-decoration: none;
  color: white;
}

.nav-signin {
  display: flex;
  align-items: center;
}

.nav-donate {
  padding: 0.5rem 1rem;
  background-color: #0d99ff;
  border: 1px solid #0d99ff;
  border-radius: 0.5rem;
}

.nav-donate:hover {
  border: 1px solid #07235b;
  background-color: #fff;
  color: #07235b;
}

@media only screen and (max-width: 767px) {
  .nav-container {
    padding: 1rem;
  }

  .nav-signin-span {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .nav-logo-img {
    width: 64px;
  }
  .nav-links-list.desktop {
    display: none;
  }
}
