.hero-container {
  background: #f0f7fd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container-inner {
  width: 90%;
  padding: 2rem 0;
  padding-bottom: 0;
}

.hero-heading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-heading-h3 {
  color: #0d99ff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 100%;
}

.hero-heading-h1 {
  color: #07235b;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 120%;
}

.hero-heading-h2 {
  color: #c33418;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

.hero-heading-h4 {
  color: rgba(7, 35, 91, 0.61);
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}

.hero-image-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.hero-img {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .hero-heading-h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 100%;
  }

  .hero-heading-h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 120%;
  }

  .hero-heading-h2 {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 110%;
  }

  .hero-heading-h4 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    color: rgba(133, 142, 173, 1);
  }

  .hero-container-inner {
    display: flex;
    flex-direction: column;
  }

  .hero-image-container {
    width: fit-content;
    align-self: flex-end;
  }

  .hero-img {
    max-width: 480px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-container-inner {
    display: flex;
    max-width: 1216px;
  }

  .hero-heading-container {
    width: 60%;
    justify-content: center;
  }

  .hero-heading-h3 {
    color: #07235b;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 110%;
  }

  .hero-heading-h1 {
    color: #07235b;
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
  }

  .hero-heading-h2 {
    color: #c33418;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 110%;
  }

  .hero-heading-h4 {
    color: #07235b;
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
  }

  .hero-image-container {
    width: 40%;
  }
}
