* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.hero-wrapper {
  background: linear-gradient(to left, #e2edf7, #def0ff);
  height: 60rem;
}

.hero-image-container img {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  margin-left: auto;
  padding: 2rem 16rem 0rem 0rem;
  height: 680px;
  aspect-ratio: 16/0;
}

.comitted {
  position: absolute;
  top: 16.25rem;
  color: #07235b;
  width: 20%;
  height: 4.125rem;
  left: 6.875rem;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.045em;
  color: #0D99FF;
}

.healthcare {
  position: absolute;
  top: 20rem;
  width: 15%;
  left: 6.875rem;
  line-height: 4.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  color: #07235B;
}
.complex {
  position: absolute;
  top: 31.875rem;
  color: #c33418;
  max-width: 40%;
  height: 5.875rem;
  left: 6.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  /* color: #0D99FF; */
}

.integrated {
  position: absolute;
  top: 550px;
  width: 100%;
  height: 140px;
  left: 110px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 46px;
  color: rgba(7, 35, 91, 0.61);
}




/* MEDIA QUERIES */
@media (max-width:470px) {
  /* .hero-wrapper {
      background: linear-gradient(to left, #e2edf7, #def0ff);
      height: 47rem;
    } */
  .hero-image-container img {
    height:600px !important;
    max-width: 95% !important;
    margin-left: auto;
    padding: 9rem 0rem 0rem 2rem !important;
  }
  .comitted {
    width: 50%;
    top:14rem;
    left: 1rem;
  }
  .healthcare {
    left: 1rem;
    top:15.3rem;
  }

  .integrated {
    width: 50% !important;
    height: 140px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    top:29rem;
    left: 1rem !important;
  }
  .complex{
    left: 1rem;
    top: 24rem;
  }
}
@media (width <=900px  )and (width>=500px) {
  /* .hero-wrapper {
      background: linear-gradient(to left, #e2edf7, #def0ff);
      height: 47rem;
    } */
  .hero-image-container img {
    height:800px !important;
  }
  .comitted {
    width:22%;
    left: 3rem;
  }
  .healthcare {
    left: 3rem;
  }

  .integrated {
    width: 25%;
    height: 140px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    left: 3rem !important;
  }
  .complex{
    left: 3rem;
    top: 28rem;
  }
}

@media (width <= 1540px){
  .healthcare{
    line-height: 4rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .integrated {
    width: 25%;
    height: 140px;
    left: 110px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 46px;
  }
}


@media (width <= 1760px) {
  .complex{
    font-weight: 600;
    font-size: 35px;
  }
}

@media (width < 1695px) {
  .complex{
    font-size: 31px;
  }
  .integrated {
    width: 34%;
    font-size: 25px;
    font-weight: 600;
  }
  
}
@media (width < 1600px) {
  .complex{
    font-size: 30px;
  }
  .integrated {
    width: 32%;
    font-size: 24px;
    font-weight: 600;
  }
}
@media (width < 1580px) {
  .complex{
    font-size: 28px;
  }
  .integrated {
    width: 32%;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
  }
}
@media (width < 1550px) {
  .complex{
    font-size: 25px;
  }
  .integrated{
    width: 28%;
    font-size: 19px;
  }

}
/* @media (width < 1495px) {
  .complex{
    font-size: 23px;
    font-weight: 700;
  }
  .integrated {
    width: 30%;
    font-weight: 700;
    font-size: 16.5px;
    line-height: 35px;
  }
} */
@media (width < 1455px) {
  .complex{
    font-size: 20px;
    font-weight: 900;
  }
  .hero-image-container img{
    max-width: 65%;
    margin-left: auto;
    padding: 4rem;
    height: 750px;
  }
}
@media (width < 1125px) {
  .complex{
    font-size: 16px;
    font-weight: 900;
  }
  .comitted {
      font-size: 18px;
  }
  .healthcare{
    font-size: 30px;
    line-height: 3.5rem;
  }
  .integrated {
    width: 30%;
    font-weight: 600;
    font-size: 15px;
    line-height: 35px;
  }
}