.information-tab-container {
  background-color: #f6f8f7;
  padding: 1rem;
}

.information-tab-heading {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

.information-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.information-tab {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  color: #000000;
  background: #ffffff;
  outline: none;
  border: 1px solid rgba(7, 35, 91, 0.05);
  cursor: pointer;
}

.information-tab.focus {
  border: 1px solid #07235b;
  background: #07235b;
  color: #ffffff;
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .information-tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .information-tabs {
    max-width: 304px;
  }

  .information-tab {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 110%;
  }
}

@media only screen and (min-width: 1024px) {
  .information-tab-container {
    width: 90%;
    max-width: 1216px;
    padding: 0;
    background-color: transparent;
  }

  .information-tab-heading {
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 110%;
  }

  .information-tabs {
    padding: 0;
    flex-direction: row;
    gap: 0;
  }

  .information-tab {
    flex-grow: 1;
    padding: 2rem 0;
    border-radius: 0;
    border: 2.5px solid rgba(7, 35, 91, 0.05);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 100%;
  }

  .information-tab.focus {
    position: relative;
  }

  .information-tab.focus::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 20px 0 20px 25px;
    border-color: transparent transparent transparent #07235b;
    right: -25px;
    z-index: 1;
  }
}
