.teams-section-wrapper {
  width: 100%;
  margin-top: 5rem;
}

.teams-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}

.teams-info p {
  color: #757575;
}

.teams-info {
  color: #07235b ;
 transition: 0.5s all ease-out;
  width: 28.375rem;
  height: 7rem;
  background-color:white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgba(181, 181, 181, 0.284);
  cursor: pointer;
 
}

.teams-info:hover {
  transform: scale(1.08);
  background: #07235b;
  border: 1px solid #07235b;
  color: white;
}


