.teams-section-wrapper {
  width: 100%;
  margin-top: 5rem;
}

.teams-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}
.teams-info {
  color: white;
  transition: 0.4s all ease-out;
  width: 28.375rem;
  height: 7rem;
  background-color: #07235b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgba(181, 181, 181, 0.284);
}

.teams-info:hover {
  transform: scale(1.04);
  background: linear-gradient(to left, rgba(35, 35, 88, 0.824), #07235b);
  border: 3px solid rgb(208, 205, 205);
}

.teams-info p {
  color: #757575;
}
