
.teams-container {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 80%;
margin: auto;
gap: 5rem;
margin-top: 5rem;
}

.teams-group {
  background: none;
  cursor: pointer;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  width: 28.375rem;
  height: 7rem;
  border-radius: 5px;
  border: 1px solid #07235B;
}
.teams-group:hover{
  background: #f9f9f9;
}
.teams-group-active {

  background: #07235B;
  color: #FFFFFF;
  width: 28.375rem;
  border-radius: 5px;
  border: 2px solid rgba(181, 181, 181, 0.284);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  height: 7rem;
}

.teams-group-active  p {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
.teams-group p{
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}



@media (width <= 1270px){
  .teams-group {
    font-size: 18px;
  }
  .teams-group-active{
    font-size: 18px;
  }
  .teams-group p{
    font-size: 15px;
  }
  .teams-group-active  p {
    font-size: 15px;
  }
}
