.home-page-our-services-card {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.home-page-our-services-icon {
  width: 48px;
  height: 48px;
  padding: 5px;
  background: #c33418;
  border-radius: 50%;
}

.home-page-our-services-hover {
  border: 1px solid #e0e3eb;
  border-radius: 1rem;
  flex-grow: 1;
  gap: 1rem;
  padding: 1rem;
  color: #062758;
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.home-page-our-services-title {
  font-size: 1rem;
}

.home-page-our-services-content {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.5s ease-in-out;
}

.home-page-our-services-hover:hover {
  background: #062758;
  color: #fff;
}

.home-page-our-services-hover:hover .home-page-our-services-content {
  color: #fff;
}

@media only screen and (max-width: 1023px) {
  .home-page-our-services-card {
    flex-direction: row;
    gap: 2rem;
  }

  .home-page-our-services-icon {
    width: 32px;
    height: 32px;
  }

  .home-page-our-services-hover {
    gap: 1rem;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    border-radius: 1rem;
  }

  .home-page-our-services-title {
    font-size: 1rem;
  }
}
