.community-wrapper {
  width: 100%;
  background: #07235b;
  border: 1px solid #000000;
  height: auto;
}
.community-text {
  margin-top: 40px;
}
.community-text h2 {
  display: flex;
  justify-content: center;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: auto;
  height: 103px;
  text-align: center;
  letter-spacing: -0.045em;
}

.community-text span {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  line-height: 3rem;
  color: #dde8f0;
  letter-spacing: -0.01em;
  padding: 20px;
}
