#nfinformation-container
{
    overflow-x: hidden;
    margin: 0 10%;
    margin-bottom: 14rem;
    margin-top: 4rem;
}



/* -------------------- Responsive Css Rules -------------------- */

@media only screen and (max-width: 810px) 
{
    #nfinformation-container
    {
        overflow-x: visible;
    }
}