#nfteam-header
{
    /* This Value is missing in the design Prototype Height value will be changed */
    height: 229px;
    /* This Value is missing in the design Prototype Height value will be changed */
    
    display: flex;
    background-color: #07235B;
    place-content: center;
    align-items: center;
    flex-direction: column;
}

/* Set rules for Both Paragraphs */
#nfteam-header > p
{
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

/* Set rules for Neurofibromatosis (NF) Team Paragraph */
#nfteam-header > p:nth-child(1)
{
    font-weight: 600;
    font-size: 55px;
    line-height: 67px;
}

/* Set rules for Stronger Together Paragraph */
#nfteam-header > p:nth-child(2)
{
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}