* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
}

.App {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
}