* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 16px;
}

.SN-M-H1-30 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 120%;
}

.SN-M-H2-24 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

.SN-M-H3-20 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 100%;
}

.SN-M-P-16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
}

.SN-M-B-16 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}

.SN-M-C-16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
}

.SN-T-H1-36 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 120%;
}

.SN-T-H2-30 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 110%;
}

.SN-T-H3-24 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
}

.SN-D-T-M-B-16 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}

.SN-D-T-M-P-16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
}

.SN-D-H1-48 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 120%;
}

.SN-D-H2-32 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 110%;
}

.SN-D-H3-24 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
}

.SN-D-P-20 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
}

.SN-D-P-16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
}

.SN-D-B-16 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}

.App {
  scroll-behavior: smooth;
}
