#NfIHub-container
{
    /* display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    gap: 9em;
    margin: 10rem 0; */
    position: relative;
    margin: 9rem 0;
}




#NfIHub-hubInfo
{
    width: 40vw;
    height: 25vw;
    background: #07235B;
    display: flex;
    place-items: center;
    justify-content: center;
    position: relative;
    
}



#NfIHub-hubInfo-frame
{
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    z-index: 1;
    width: 81%;
    height: 75%;
    top: 0px;
}

#NfIHub-hubInfo-frame > p 
{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.6dvw;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}


#NfIHub-hubInfo-frame > p::before
{
    content: "Neurofibromatosis (NF) ";
}




#NfIHub-pic
{
    position: absolute;
    /* width: 784px;
    height: 525px; */

    bottom: -27%;
    right: -75%;
    z-index: -1;
}

#NfIHub-pic > img
{
    aspect-ratio: 16/9;
    object-fit: contain;
    width: 100%;
    height: 100%;

}



/* -------------------- Responsive Css Rules -------------------- */

@media only screen and (max-width: 435px) 
{
    #nfteam-join-container
    {
        flex-wrap: wrap;
    }

    
}