
/* Set Css rules for Frame container top section */
.frame-container 
{
    position: absolute;
    overflow: visible;
    border-radius: 29px;
    height: 190px;
    top: 50rem;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    place-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    left: calc(50%);
    transform: translateX(calc(-50%));
    min-width: 65vw;
    gap: 3rem;
}

.frame-container::before
{
    content:url(/src/Assets/Icons/search-man.svg) "\00a0 \00a0 Search & Find a Medical or Wellness Provider";
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #07235B;
    position: absolute;
    top: -40px;
    left: 52px;
    
}


/* Set Css rules for the wrapper div element for all select input elements */
.input-wrapper 
{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  
}

/* Set Css rules for the wrapper div element for all button elements */
.buttons-wrapper
{
    display: flex;
    flex-direction: row;
    place-content: center;
    align-content: center;
    flex-wrap: wrap;
}
