.partner-img-container {
  width: 100%;
  display: flex;
  background-color: #fff;
}

.partner-img-left-box {
  width: 60%;
  aspect-ratio: 1 / 1;
}

.partner-img-left {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.partner-img-stacks {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.partner-img-stack-top,
.partner-img-stack-top-bottom {
  flex-grow: 1;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .partner-img-container {
    width: 50%;
  }
}
