.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.services-icon {
  width: 72px;
  height: 72px;
  padding: 1rem;
  background: #c33418;
  border-radius: 50%;
}

.services-hover {
  border: 1px solid #e0e3eb;
  border-radius: 1rem;
  background: #f0f7fd;
  gap: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.services-card-heading {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 100%;
}

.services-card-content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  color: #858ead;
  transition: color 0.5s ease-in-out;
}

.services-hover:hover {
  background: #062758;
  color: #fff;
}

.services-hover:hover .services-card-heading {
  color: #fff;
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .services-card {
    max-width: 390px;
  }

  .services-hover {
    padding: 3rem;
    aspect-ratio: 1 / 0.8;
  }

  .services-card-heading {
    color: rgba(7, 35, 91, 1);
  }

  .services-card-content {
    font-size: 1rem;
    font-weight: 400;
    line-height: 110%;
  }
}

@media only screen and (min-width: 1024px) {
  .services-card {
    flex-grow: 1;
    flex-basis: 0;
  }

  .services-icon {
    width: 60px;
    height: 60px;
  }

  .services-hover {
    flex-grow: 1;
    grid-template-rows: 0.8fr 2fr 0.5fr;
  }

  .services-card-heading {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 100%;
  }

  .services-card-content {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 120%;
  }
}
